$mainBlue: #2196f3;
$mainWhite: #f3f3f3;
$mainDark: #212121;
$mainYellow: #ffa400;
$maindRed: #dc3545;
$mainGreen: #28a745;

html,
body {
	background: white;
	color: $mainDark;
	height: 100%;
}

.navbar {
	background: $mainBlue;
	.nav-link {
		color: white;
		font-size: 1.3rem;
		text-transform: capitalize;
	}

	.nav-link__active {
		color: white !important;
		font-weight: bold;
	}

	.btn-cart {
		text-transform: capitalize;
		font-size: 1.4rem;
		background: transparent;
		border: 0.05rem solid white;
		color: white;
		// border-radius: 0.1rem;
		padding: 0.2rem 0.5rem;
		cursor: pointer;
		margin: 0.2rem 0.5rem;
		transition: all 0.005s ease-in-out;
		&:hover {
			background: white;
			color: $mainBlue;
			border-color: $mainBlue;
		}
		&:focus {
			outline: none;
		}
	}
}

.product {
	transition: all 0.01s ease-in-out;
	.card {
		background: $mainWhite;
	}

	.card-footer {
		background: white;
		height: 12.5vh;
	}

	.img-container {
		position: relative;
		overflow: hidden;
	}

	.product-btn__add {
		position: absolute;
		bottom: 0;
		right: 0;
		padding: 0.2rem 0.4rem;
		background: $mainBlue;
		border: none;
		color: white;
		&:hover {
			background: white;
			color: $mainBlue;
			border: 0.05rem solid $mainBlue;
			border-right: none;
			border-bottom: none;
		}
		&:focus {
			outline: none;
		}
	}
	.product-btn__cart {
		position: absolute;
		bottom: 0;
		right: 0;
		padding: 0.2rem 0.4rem;
		background: $mainYellow;
		border: none;
		color: white;
		&:hover {
			background: white;
			color: $mainYellow;
			border: 0.05rem solid $mainYellow;
			border-right: none;
			border-bottom: none;
		}
		&:focus {
			outline: none;
		}
	}

	&:hover {
		.card {
			background: white;
		}
		.card-footer {
			background: $mainWhite;
		}
	}
}

.cart-icon {
	cursor: pointer;
	font-size: 1.2rem;
	color: $mainBlue;
}

.btn-black {
	background: transparent;
	font-size: 1rem;
	color: $mainBlue;
	border-radius: 0;
	border: 0.05rem solid $mainBlue;
	&:hover {
		cursor: pointer;
		background: $mainBlue;
		color: white;
	}
}

.modal {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.3);
	display: flex;
	align-items: center;
	justify-content: center;
	#modal {
		background: $mainWhite;
	}
}

.btn-cart {
	text-transform: capitalize;
	font-size: 1.1rem;
	background: transparent;
	border: 0.05rem solid $mainYellow;
	color: $mainYellow;
	border-radius: 0.1rem;
	padding: 0.2rem 0.5rem;
	cursor: pointer;
	margin: 0.2rem 0.5rem;
	transition: all 0.005s ease-in-out;
	&:hover {
		background: $mainYellow;
		color: $mainWhite;
		border-color: $mainWhite;
	}
	&:focus {
		outline: none;
	}
}
.store {
	text-transform: capitalize;
	font-size: 1.1rem;
	background: transparent;
	border: 0.05rem solid $mainBlue;
	color: $mainBlue;
	cursor: pointer;
	border-radius: 0.1rem;
	padding: 0.2rem 0.5rem;
	margin: 0.2rem 0.5rem;
	transition: all 0.005s ease-in-out;
	&:hover {
		color: $mainWhite;
		border-color: $mainWhite;
		background: $mainBlue;
	}
	&:focus {
		outline: none;
	}
}

.clear-cart {
	text-transform: capitalize;
	font-size: 1.4rem;
	background: transparent;
	border: 0.05rem solid $maindRed;
	color: $maindRed;
	cursor: pointer;
	border-radius: 0.1rem;
	padding: 0.2rem 0.5rem;
	margin: 0.2rem 0.5rem;
	transition: all 0.005s ease-in-out;
	&:hover {
		color: $mainWhite;
		// border-color: $mainWhite;
		background: $maindRed;
	}
	&:focus {
		outline: none;
	}
}

.checkout {
	text-transform: capitalize;
	font-size: 1.4rem;
	background: transparent;
	border: 0.05rem solid $mainGreen;
	color: $mainGreen;
	cursor: pointer;
	border-radius: 0.1rem;
	padding: 0.2rem 0.5rem;
	margin: 0.2rem 0.5rem;
	transition: all 0.005s ease-in-out;
	&:hover {
		color: $mainWhite;
		background: $mainGreen;
	}
	&:focus {
		outline: none;
	}
}
